$roboto: Roboto, Arial, sans-serif;
$roboto-condensed: 'Roboto Condensed', Roboto, Arial, sans-serif;

$white: #FFFFFF;
$dfcolor: #777777;
$dfblue: #5AB2B5;
$dfred: #D64A4C;

$main-retreat: rem(24);
$transition-time: 0.3s;
$main-padding: rem(40);

$img: '/static/img/';