@import 'normalize';
@import 'bourbon';
@import 'grid.scss';


@include normalize();

// own
@import 'variables';



html, body {
	margin: 0;
	font-family: $roboto;
	background: $white;
	font-size: 14px;
	line-height: em(26);
	cursor: default;
	color: $dfcolor;
	* {
		font-family: inherit;
	}
}

a {
	color: $dfblue;
	text-decoration: none;
	cursor:pointer;
	@include transition(all $transition-time ease-in-out);
	&:link {
		color: inherit;
		text-decoration: none;
		cursor:pointer;
	}
	&:hover,
	&:active {
		color: darken($dfblue, 20);
		@include transition(all $transition-time ease-in-out);
		cursor:pointer;
		text-decoration: none;
	}
}

nav {
	ul, li {
		list-style-type: none;
		padding: 0;
		margin: auto;
	}
}

p {
	@include margin(0 0 rem(10) 0);
	&:last-child {
		@include margin(0);
	}
}

figure {
	@include margin(0);
	border: 0;
	text-align: center;
	img {
		max-width: 100%;
		height: auto;
		display: inline-block;
		vertical-align: middle;
	}
}

hr {
	border: 0;
	border-bottom: 1px solid #eeeeee;
	height:auto;
	float: none;
	clear: both;
	background:none;
}

.main-content {
	> .row {
		background: $white;
		box-shadow: 0 0 40px rgba(0,0,0,.1);
		margin-top: -($main-retreat);
		@include padding(null $main-padding);
	}
}

@for $i from 1 to 6 {
  h#{$i} {
  	font-family: $roboto;
  	@include margin(0 0 rem(10));
  }
}

.h-small {
	@include user-select(none);
	font-size: em(15);
	text-transform: uppercase;
	font-family: $roboto-condensed;
	color:lighten($dfcolor, 20);
	margin: rem(28) 0;

	&:before {
		content:"  ";
		border-bottom: 1px solid lighten($dfcolor, 20);
		display: inline-block;
		vertical-align: middle;
		width: rem(100);
		margin-right: rem(26);
	}
	
	&.full {
		text-align: center;
		span {
			display: inline-block;
			vertical-align: middle;
			background: $white;
			position:relative;
			z-index: 1;
			@include padding(null rem(30));
		}
		hr {
			border-bottom: 1px solid lighten($dfcolor, 20);
			@include margin(rem(-13));
		}
		&:before {
			display: none;
		}
	}

}

.show-large,
.show-medium,
.show-small {
	display: none;
}
	@media #{$small-up} {
		.show-small {display: block;}
	}
	@media #{$medium-up} {
		.show-medium {display: block;}
	}
	@media #{$large-up} {
		.show-large {display: block;}
	}

.btn, button, input[type=button] {
	cursor: pointer;
	background: $dfblue;
	color:$white;
	font-size: em(18);
	border: 0;
	border-radius: 0;
	@include padding(rem(12) rem(40));

	&:hover {
		background: darken($dfblue, 8);
	}
	&:active {
		background: darken($dfblue, 12);
	}

	&:hover,
	&:active,
	&:focus {
		outline: 0 none;
	}

}

@include selection {
  background-color: darken($dfblue, 10);
  color: $white;
}

@import 'header';
@import 'index';