* {
    box-sizing: border-box;
}

$grid-gutter: 1%;
$grid-columns: 12;
$grid-max: 980px;

////
// Grids
////
[class*="grid-"] {
  float: left;
  padding: 0 $grid-gutter;
  margin-bottom: 20px;
  &:after {
    content:"";
    display: block;
    clear: both;
    float: none;
    width: auto;
  }
}

@for $i from 1 through $grid-columns{
  .grid-#{$i} {
    width: 100% / $grid-columns * $i;
  }
}

.container {
  width: $grid-max;
  margin-left: auto;
  margin-right: auto;
  .container {
    width: auto;
  }
  &:after {
    content:"";
    display: block;
    clear: both;
    float: none;
    width: auto;
  }

}
