.info {

  padding: 48px;
  font-size: 14px;
  line-height: 1.5em;

  h4 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 19px;
    margin: 12px 4px 0 4px;
    display: block;
    position: relative;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .about {}

}
