.info {

  padding: 48px;
  font-size: 13px;

  h4 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 19px;
    margin: 12px 4px 0 4px;
    display: block;
    position: relative;
  }

  p {
    margin: 0;
  }

  .about {}

}
