doctype html
html
  head
    meta(charset="utf-8")
    link(href="https://fonts.googleapis.com/css?family=Oswald:300,400",rel="stylesheet")
    link(href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css", rel="stylesheet")
    link(href="/css/main.css", rel="stylesheet")
    link(rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")
    title.
      Alisson Carvalho - Software Developer
  body
    .main
      header.header
        .container
          .grid-5
            hgroup.logo
              figure
                img(src="/img/profile.jpg", alt="Alisson Carvalho - Profile picture")
              h2 Alisson Carvalho
              h5 Software Developer
          .grid-7
        .container
          hr
      main.container.info
        section.about.container
          .grid-2
            h4 About
          .grid-10
            p.
              Hi! I am Alisson, 21 years old.
              I just started a blog called #[strong Rock Mania] after that, I joined in the biggest brazilian heavy metal blog called #[strong Heavy Metal Center] - both is over nowadays.
              It was my first contact with writing posts and coding (based on XHTML and CSS).
            p.
              Today I'm a full-stack developer, with 6 years of experience in this area.
              I already work with PHP (using pure code and some frameworks like Symfony, Phalcon and Laravel), Java (Android SDK) and today I'm focused on Front-end, Node.js and the full Javascript ecosystem. Enjoy my resume!
      footer.footer
        .container
          hr
        .container
          .social-icons
            ul
              li
                a(href="https://www.linkedin.com/in/alisson-da-silva-389683ab?trk=nav_responsive_tab_profile", target="_blank")
                  i.ion-social-linkedin
                  span LinkedIn
              li
                a(href="http://github.com/alissoncs", target="_blank")
                  i.ion-social-github
                  span GitHub
