{% extends 'skin.html' %}

{% block content %}	
	<div class="row">

		<section class="section about">
	
			<h4 class="h-small">About me</h4>

			<div class="row">
				<p class="columns large-9">Lorem Ipsum é simplesmente uma <strong>simulação</strong> de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor <i>desconhecido</i>.</p>
					<figure class="columns large-3">
						<img src="/static/img/selfie.png" alt="">
						<figcaption></figcaption>
					</figure>
			</div>

		</section>

		<section class="section skills">

			<h4 class="h-small">Skills</h4>
	

			<div class="row">
				
				<div class="component columns large-4">
					<i class="icon ion-code"></i>
					<h3>Programming</h3>
					<p class="description">
						DescarteMap is an open-source project developed all by me. It's an app for Android indicates places to discard garbages in the correct place, easiely located by Google Maps
					</p>
				</div>


				<div class="component columns large-4">
					<i class="icon ion-pound"></i>
					<h3>Front-end development</h3>
					<p class="description">
						DescarteMap is an open-source project developed all by me. It's an app for Android indicates places to discard garbages in the correct place, easiely located by Google Maps
					</p>
				</div>

				<div class="component columns large-4">
					<i class="icon ion-social-buffer"></i>
					<h3>UI/UX Design</h3>
					<p class="description">
						DescarteMap is an open-source project developed all by me. It's an app for Android indicates places to discard garbages in the correct place, easiely located by Google Maps
					</p>
				</div>

			</div>

		</section>
	
		<section class="section waffling">
				
			<div class="row">
				
				<div class="columns medium-6">
					<h2>Open-source contributions</h2>

					<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>

				</div>			
				<div class="columns medium-6">
					<h2>A kind of project</h2>
					<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
				</div>	

			</div>

		</section>

	</div>

{% endblock %}