{% extends 'skin.html' %}

{% block content %}	
	<div class="row">

		<section class="section about">
	
			<h4 class="h-small">About me</h4>

			<div class="row">
				<p class="columns large-9">Lorem Ipsum é simplesmente uma <strong>simulação</strong> de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor <i>desconhecido</i>.</p>
					<figure class="columns large-3">
						<img src="/static/img/selfie.png" alt="">
						<figcaption></figcaption>
					</figure>
			</div>

		</section>

		<section class="section skills">

			<h4 class="h-small">Skills</h4>
	

			<div class="row">
				
				<div class="component columns large-4">
					<i class="icon ion-code"></i>
					<h3>Programming</h3>
					<p class="description">
						DescarteMap is an open-source project developed all by me. It's an app for Android indicates places to discard garbages in the correct place, easiely located by Google Maps
					</p>
				</div>


				<div class="component columns large-4">
					<i class="icon ion-pound"></i>
					<h3>Front-end development</h3>
					<p class="description">
						DescarteMap is an open-source project developed all by me. It's an app for Android indicates places to discard garbages in the correct place, easiely located by Google Maps
					</p>
				</div>

				<div class="component columns large-4">
					<i class="icon ion-social-buffer"></i>
					<h3>UI/UX Design</h3>
					<p class="description">
						DescarteMap is an open-source project developed all by me. It's an app for Android indicates places to discard garbages in the correct place, easiely located by Google Maps
					</p>
				</div>

			</div>

		</section>

		<section class="section work">
			
			<h3>Work</h3>
			<article>
				<h5>Descarte Map</h5>
				<p>DescarteMap is an open-source project developed all by me. It's an app for Android indicates places to discard garbages in the correct place, easiely located by Google Maps. The API is constructed on PHP, using Silex, Symfony Components and MongoDB as main database. The app was developed using Android Studio as native app with Java programming language.</p>
				<p>
					<a href="/work/descartemap">Know more about DescarteMap</a>
					<a href="/work/descartemap" target="_blank" rel="nofollow">See the project on GitHub</a>
				</p>
			</article>
			<article>
				<h5>Descarte Map</h5>
				<p>DescarteMap is an open-source project developed all by me. It's an app for Android indicates places to discard garbages in the correct place, easiely located by Google Maps. The API is constructed on PHP, using Silex, Symfony Components and MongoDB as main database. The app was developed using Android Studio as native app with Java programming language.</p>
				<p>
					<a href="/work/descartemap">Know more about DescarteMap</a>
					<a href="/work/descartemap" target="_blank" rel="nofollow">See the project on GitHub</a>
				</p>
			</article>
			<article>
				<h5>Descarte Map</h5>
				<p>DescarteMap is an open-source project developed all by me. It's an app for Android indicates places to discard garbages in the correct place, easiely located by Google Maps. The API is constructed on PHP, using Silex, Symfony Components and MongoDB as main database. The app was developed using Android Studio as native app with Java programming language.</p>
				<p>
					<a href="/work/descartemap">Know more about DescarteMap</a>
					<a href="/work/descartemap" target="_blank" rel="nofollow">See the project on GitHub</a>
				</p>
			</article>

		</section>

		<section class="section last-news">
			
			<h2>Blog</h2>
			<p>
				<small>
				Checkup the last news about my professional life and some contents about my day-to-day.
				</small>
			</p>

			

		</section>

	</div>

{% endblock %}