{% extends 'skin.html' %}

{% block content %}
	
<div class="wrap">


	<header class="index-header">
		<hgroup>
			<h1>Alisson da Silva</h1>
			<h4>Web/Mobile Developer</h4>
		</hgroup>
	</header>

</div>

<hr>

<main>
	
	<div class="wrap">

		<section class="section info">
			<h3>What I do</h3>
			<p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. </p>
			<p>Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
		</section>

		<section class="section skills">
			<h3>My skills</h3>
			<ul>
					<li>
						Front-end Development
					</li>
					<li>
						Mobile Development
					</li>
					<li>
						Server-side Development
					</li>
					<li>
						Open-source enthusiastic
					</li>
					<li>
						Agile Development
					</li>
			</ul>

			<p>
				<a href="/about">Know more about my skills</a>
			</p>

		</section>

		<section class="section work">
			
			<h3>Work</h3>
			<article>
				<h5>Descarte Map</h5>
				<p>DescarteMap is an open-source project developed all by me. It's an app for Android indicates places to discard garbages in the correct place, easiely located by Google Maps. The API is constructed on PHP, using Silex, Symfony Components and MongoDB as main database. The app was developed using Android Studio as native app with Java programming language.</p>
				<p>
					<a href="/work/descartemap">Know more about DescarteMap</a>
					<a href="/work/descartemap" target="_blank" rel="nofollow">See the project on GitHub</a>
				</p>
			</article>
			<article>
				<h5>Descarte Map</h5>
				<p>DescarteMap is an open-source project developed all by me. It's an app for Android indicates places to discard garbages in the correct place, easiely located by Google Maps. The API is constructed on PHP, using Silex, Symfony Components and MongoDB as main database. The app was developed using Android Studio as native app with Java programming language.</p>
				<p>
					<a href="/work/descartemap">Know more about DescarteMap</a>
					<a href="/work/descartemap" target="_blank" rel="nofollow">See the project on GitHub</a>
				</p>
			</article>
			<article>
				<h5>Descarte Map</h5>
				<p>DescarteMap is an open-source project developed all by me. It's an app for Android indicates places to discard garbages in the correct place, easiely located by Google Maps. The API is constructed on PHP, using Silex, Symfony Components and MongoDB as main database. The app was developed using Android Studio as native app with Java programming language.</p>
				<p>
					<a href="/work/descartemap">Know more about DescarteMap</a>
					<a href="/work/descartemap" target="_blank" rel="nofollow">See the project on GitHub</a>
				</p>
			</article>

		</section>

		<section class="section last-news">
			
			<h2>Blog</h2>
			<p>
				<small>
				Checkup the last news about my professional life and some contents about my day-to-day.
				</small>
			</p>

			

		</section>

	</div>

</main>

{% endblock %}